
*,
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.ff-oswald {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.ff-roboto {
  font-family: "Roboto", sans-serif;
}

.fs-1\.25x {
  font-size: 1.25rem;
}

.fs-3\.5x {
  font-size: 3.5rem;
}
